/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p, a, select {
  font-family: Raleway, sans-serif;
}

section.register-container {
  background-color: #56569e; /*top colour*/
  background-image: -webkit-linear-gradient(top, #56569e, #407886);
  background-image:    -moz-linear-gradient(top, #56569e, #407886);
  background-image:      -o-linear-gradient(top, #56569e, #407886);
  background-image:         linear-gradient(to bottom, #56569e, #407886);
  padding: 70px 0;
}


.main-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
}

.title {
    text-align: center;
}

.title h2 {
  font-size: 40px;
  font-weight: 700;
  color: #5967b7;
}

.title p {
    margin: 20px;
}

.form-input-container {
    text-align: center;
}

.form-input-container select {
  border: initial;
  font-size: 12px;
  height: 36px;
  width: 88px;
}

select, input[type="color" i][list] {
    background-color: #e4e4e4;
    position: relative;
    top: -2px;
}

input {
    padding: 10px;
}

button.form-submit-btn {
  padding: 12px;
  border: initial;
  background-color: #46add6;
  color: #fff;
}

section.show-list {
    padding: 50px 0px;
}

ul.hero-list-title,
ul#hero-list {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

ul#hero-list {
  margin-top: 30px;
}

ul.hero-list-title li {
  display: inline-block;
  width: 33%;
  text-align: left;
  padding: 30px 0;
  font-family: raleway, sans-serif;
  font-weight: 600;
  color: #496a90;
}

ul.hero-list-title li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #4c6693;
    height: 1px;
    width: 100%;
}

ul#hero-list li {
  display: inline-block;
  width: 33%;
  text-align: left;
  margin-bottom: 30px;
  font-family: raleway, sans-serif;
}

ul#hero-list li:nth-child(even) {
  background-color: gray;
}
